/*
================================================================================
style.css

Autores: 
	SEBASTIÁN HORCAJO ORTEGA
	GUILLERMO
	JAVIER
Versión: 1.0
Fecha: Octubre 2015
 
Hoja de estilos general
================================================================================
1.- STILOS GENERALES
2.- MENÚ PRINCIPAL
    2.1.- Pantalla de inicio
    2.2.- Cabeceras
        2.2.1.- Cookies
        2.2.2.- Titulo y logo
    2.3.- Cuerpo Opciones Menus
3.- Formularios
    3.1.- Formulario Login
4.- Menus Desplegable
5.- Modales
6.- Contenido Menus Compras y Ventas
	
================================================================================
1.- ESTILOS GENERALES
================================================================================*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
    list-style: none;
}

html,body{
    height: 100%;
    overflow-x:hidden;
}

body{
    font: 1em/1.5 sans-serif;
    font-weight: 300;
}

/*================================================================================
1.- MENÚ PRINCIPAL
================================================================================
    /*================================================================================
    2.1.- Pantalla de inicio
    ================================================================================*/
    #id_body{
        margin: 0;
	padding: 0;
        width: 100%;
        height: 100%;
        background: url(../img/fondo.jpg) no-repeat center;
        background-size: cover;
        text-align: center;
    }
    
    #id_wrapper{
        padding-top: 10%;
    }

    #id_header{
        width: 100%;
	top: 0; 
	position: fixed;
    }

    #id_content{
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    #id_footer{
        bottom: 0;
        width: 100%;
        margin: 0px auto;
        padding: 20px 0px;
        background: black;
        background: rgba(0,0,0,.8);
        overflow: hidden;
    }

    #id_footer h1{
        font: 1.5em/1.5 sans-serif;
        font-weight: 300;
        color: white;
    }

    #id_footer h1 a{
        width: 20%;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
        text-decoration: none;
        color: #99AABB;
    }
    
   /*================================================================================
    2.2.- Cabeceras
    ================================================================================*/
        /*================================================================================
        2.2.1.- Cookies
        ================================================================================*/
        #id_cookies{
	    width: 100%;
            top: 0; 
            position: fixed;
	    margin: 0px auto;
            padding: 10px;
	    background: black;
            background: rgba(0,0,0,.7);
            overflow: hidden;
	}
        
        #id_cookies img{
            float: right;
            height: 22px;
            margin: 5px;
            cursor: pointer;
        }

	#id_cookies h1{
	   font: 25px sans-serif;
	   line-height: 30px;
	}

	#id_cookies h1 span{
	    color: #99AABB;
	}
        
        /*================================================================================
        2.2.2.- Titulo y logo
        ================================================================================*/
        #id_cabeceraIni{
	    width: 100%;
	    margin: 0px auto;
	    background: url(../img/cabezera.jpg);
	    overflow: hidden;
	}

	#id_cabeceraIni h1{
	   float: left;
	   width: 100%;
	   font: 60px Impact, Charcoal, sans-serif;
	   font-weight: 300px;
	   line-height: 100px;
	}
	
	#id_cabeceraIni h1 span{
	    color: maroon;
	}
        
        #id_cabeceraIni :hover{
            cursor: pointer;
	}
        
    /*================================================================================
    2.3.- Cuerpo Opciones Menus
    ================================================================================*/
    #id_descripcion .cls_descri{
        width: 40%;
        margin: 0px auto;
        float: left;
        margin: 3.8% 5%;
        text-align: justify;
        font: 30px Impact, Charcoal, sans-serif;
    }
        
/*================================================================================
3.- Formularios
================================================================================*/
    /*================================================================================
    3.1.- Formulario Login
    ================================================================================*/
    #id_formularioLogin{
        background: url(../img/cuadro.jpg);
        border-radius: 20px;
        border: 10px solid black;
        padding: 15px;
    }

    #id_txt_error{
        font-weight: 300;
        margin: 30px auto;
        display: none;
        text-align: center;
        font: 1.5em/1.5 sans-serif;
        color: white;
        font-weight: 600;
        width: 50%;
        background: black;
    }

    #id_formularioEntradaIni input{
        width: 90%;
        margin: 0 auto;
        padding: 5px 0;
        font: .9em/1.5 sans-serif;
        text-align: center;
        border: 1px solid #99AABB;
    }
    
    #id_formularioEntradaIni div{
        width: 90%;
    }
    
    #id_formularioEntradaIni h2{
        overflow: auto;
        width: 90%;
        margin: 0 auto;
        font: 30px sans-serif;
        color: white;
        font-weight: 600;
        text-align: center;
    }

    .cls_btn{
        width: 270px;
        margin: 10px auto;
        padding: 7px 0;
        font: .9em/1.5 sans-serif;
        text-align: center;
        color: white;
        background: #335566;
        cursor: pointer;
    }

    .cls_btn:hover{
        color: white;
        background: #4B4E50;
    }

/*================================================================================
4.- Menu Desplegable
================================================================================*/
#id_menu{
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.cls_nav > li {
    float: left;
    width: 25%;
}

#id_admin > li {
    width: 16.66%;
}

.cls_nav li a {
    background: #335566;
    color: #99AABB;
    display: block;
    border-radius: 15px 0px;
    border: 1px solid;
    padding: 5px;
    text-decoration: none;
}

.cls_nav li a:hover {
    background: grey;
}

.cls_nav li ul {
    display: none;
    position: absolute;
    min-width: 200px;
}

.cls_nav li:hover > ul {
    display: block;
}

.cls_nav li ul li {
    position: relative;
}

.cls_nav li ul li ul {
    right: -200px;
    top: 0;
}

/*******************************************************************************
5.- MODALES
*******************************************************************************/
#id_modalFondo{
    display: none;
    opacity: .80;
    filter: alpha(opacity=80);
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 85;
}

#id_modalPantalla{
    text-align: center;
    display: none;
    position: absolute;
    top: 25%;
    left: 37%;
    border-radius: 20px;
    width: 25%;
    height: 25%;
    margin: 0 auto;
    background: #ddd;
    z-index: 86;
}


/*******************************************************************************
6.- Contenido Menus Compras y Ventas
*******************************************************************************/
.cls_ventanas{
    background-color: grey;
    border-radius: 20px;
    border: 1px solid black;
    width: 31%;
    height: 250px;
    margin: 15px;
    float: left;
}

.cls_ventanas p{
    overflow: hidden;
}

.cls_slider{
    width: 100%;
    height: 80%;
    margin-bottom: 15px;
}

.cls_slider img{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px 20px 0 0 ;
}

.cls_imgPrincipal{
    display: block;
}
.cls_imgSecundaria{
    display: none;
}
